.ok {
    width: 350px;
    height: 80px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 35%;

}

.Load {
    width: 350px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid;
    opacity: 0;
    position: absolute;
    left: 35%;
    top: 25%;
    background-color: rgb(180, 180, 206);
}


.finish {
    width: 350px;
    height: 200px;
    position: absolute;
    background-color: rgb(115, 171, 115);
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    opacity: 0;
    line-height: 60px;
}


